body {
  background: url("../images/bg.jpg") !important;
  cursor: url("../images/blue.cur"), auto;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  opacity: 0.9;
}
#header {
  background: url("../images/header.jpg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  opacity: 1 !important;
}
#header-title .logo-wrap {
  position: relative;
  float: left;
  overflow: hidden;
}
#header-title .logo-wrap:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 18px;
  background-color: rgba(236,250,255,0.5);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: searchLights 1s ease-in 1s infinite;
  -o-animation: searchLights 1s ease-in 1s infinite;
  animation: searchLights 1s ease-in 1s infinite;
}
@-webkit-keyframes searchLights {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}
@-o-keyframes searchLights {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}
@-moz-keyframes searchLights {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}
.logos {
  display: block;
  padding: 10px 0;
  width: 98px;
  height: 98px;
  background-image: url("/images/logos.png");
  background-position: 0px 10px;
  background-repeat: no-repeat;
  background-size: 98 98;
}
.logos-wrap {
  width: 118px;
  height: 138px;
  float: left;
}
@media only screen and (max-width: 479px) {
  #footer .logos-wrap {
    float: none;
    margin: 0 auto;
  }
}
#rocket-to-top div {
  left: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 149px;
}
#rocket-to-top .level-2 {
  background: url("../images/rocket_button_up.png") no-repeat scroll -149px 0 transparent;
  display: none;
  height: 250px;
  opacity: 0;
  z-index: 1;
}
#rocket-to-top .level-3 {
  background: none repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 150px;
  z-index: 2;
}
#rocket-to-top {
  background: url("../images/rocket_button_up.png") no-repeat scroll 0 0 transparent;
  cursor: default;
  display: block;
  height: 250px;
  margin: -125px 0 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  right: 0;
  top: 80%;
  width: 149px;
  z-index: 11;
}
.thumbnail:hover {
  background-color: #fafdff;
  border-color: #88d3f9;
  box-shadow: 0px 0px 9px #88d3f9;
}
.popular-posts-header {
  border-bottom: 1px solid $gainsboro;
  display: block;
  font-size: 18px;
  padding: 15px 0;
}
.popular-posts {
  padding: 5px;
}
.popular-posts .popular-posts-item {
  margin-left: 1em;
}
.popular-posts .popular-posts-item .popular-posts-title {
  float: left;
  width: 47%;
  font-size: 16px;
  line-height: 18px;
  margin: 5px;
}
.popular-posts .popular-posts-item .popular-posts-title a {
  color: #006bde;
  text-decoration: none;
}
@-moz-keyframes searchLights {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}
@-webkit-keyframes searchLights {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}
@-o-keyframes searchLights {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}
@keyframes searchLights {
  0% {
    left: -100px;
    top: 0;
  }
  to {
    left: 120px;
    top: 100px;
  }
}
